@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

h2 {
  text-align: center;
  font-family: "Yeon Sung";
  margin-left: auto;
  margin-right: auto;
}

.calTable {
  border: solid 1px;
  font-family: "Yeon Sung";
}

table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  height: 100%;
}

th,
tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  height: 150px;
  vertical-align: top;
}

.beforeBtn {
  position: relative;
  top: 20px;
  left: 48px;
}

.afterBtn {
  position: relative;
  top: 20px;
  left: 480px;
}
