@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

h2 {
  text-align: center;
  font-family: "Yeon Sung";
  margin-left: auto;
  margin-right: auto;
}

.calTable {
  border: solid 1px;
  font-family: "Yeon Sung";
}

table {
  margin-left: auto;
  margin-right: auto;

  width: 99%;
  height: 100%;
}